.movies {
    color: green;
    /* text-align: center; */
}

h3 {
    text-align: center;
}

li {
    font-size: 20px;
}

    /* The text for the heading and list items can be any color EXCEPT black. (HINT: Take advantage of the movies class).
    The movie list should have a centered heading.
    The font size should be large enough to easily read. */
