h3 {
   text-align: center;
   text-decoration: underline;
}

.skills {
   color: green;
}
.ol-style {
   color: red;
   text-align: center;
   list-style-type: lower-roman;
}

.p-style {
   color: yellow;
   text-align: right;
   text-decoration-line: underline;
   text-underline-position: below;
}
